// src/components/Header/Link/style.module.scss

.link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 300;

  a,
  button {
    text-decoration: none;
    color: #b7b7b7;
    transition: color 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
  }

  &:hover {
    a,
    button {
      color: #1c1d20;
    }
  }
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #1c1d20;
  border-radius: 50%;
  position: absolute;
  left: -30px;
}