// src/components/Header/Curve/style.module.scss
.svgCurve {
    position: absolute;
    top: 0;
    left: -99px; // This is the key to hiding the curve initially
    width: 100px;
    height: 100%;
    fill: #1c1d20;
    stroke: none;
}