// src/components/Header/Burger/style.module.scss

.button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 20; // Ensures the burger is on top of the nav panel.
}

.burger {
  width: 100%;
  color: white; // Default color for the lines (can be overridden by textColorClass).

  // Pseudo-elements create the three lines of the hamburger icon.
  &::after,
  &::before {
    content: '';
    display: block;
    height: 1.5px;
    width: 40%;
    margin: auto;
    background-color: currentColor; // Inherits the color from the parent.
    position: relative;
    transition: transform 0.3s, top 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

// Handles the animation to an "X" when the menu is active.
.burgerActive {
  // When active, the lines should be black to be visible on the white nav panel.
  color: #1c1d20;

  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}